body{
    background-color: aliceblue;
    font-size: 18px;
    font-family: "Yu Gothic";
    text-align: center;
}
header{
    background-color: aliceblue;
    height: 80px;
    width: 100%;
    font-size: 20px;
}
footer {
    background-color: aliceblue;
    padding: 25px;
    opacity: 0.9;
    filter: alpha(opacity=90);

}

.form-horizontal {
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

#container1{
    margin-top: 2%;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}
#container2{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

#navtext{
    text-align: match-parent;
}

#mainContainer{
    margin-top: 30px;
    background-color: aliceblue;
    width:77%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

#tableContainer{
    margin-top: 30px;
    background-color: aliceblue;
    width:70%;
    height:100%;
    margin-left: auto;
    margin-right: auto;

}
#ruumidPealkiri{
    text-align: left;
}

h3, h2 {
    text-align: left;
}

#login {
    text-align: center;
}

#registreeri {
    text-align: center;
}

#edukasRega {
    font-size: 24px;
}

table {
    width: 600px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
