<form class="form-signin" method="post" action="changeUsername.php">
    <h2 class="form-signin-heading">Vaheta kasutajanime</h2>

    <label for="user" class="sr-only">Uus kasutajanimi</label>
    <input type="text" id="user" class="form-control" name="newusername" placeholder="Uus kasutajanimi" required autofocus>
    <p style="margin-top: 10px;"></p>
    <label for="inputPassword" class="sr-only">Salasõna</label>
    <input type="password" id="inputPassword" class="form-control" name="pass1" placeholder="Praegune salasõna" required>
    <p style="margin-top: 10px;"></p>
    <label for="inputPassword1" class="sr-only">Salasõna uuesti</label>
    <input type="password" id="inputPassword1" class="form-control" name="pass2" placeholder="Praegune salasõna uuesti" required>
    <p style="margin-top: 10px;"></p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Kinnita</button>
</form>