<div class="container" id="container1">
    <form class="form-signin" method="post" action="loginUser.php">
        <h2 class="form-signin-heading" id="login">Logi sisse</h2>

        <label for="inputEmail" class="sr-only">Kasutajanimi</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Kasutajanimi" required autofocus>
        <p style="margin-top: 10px;"></p>
        <label for="inputPassword" class="sr-only">Salasõna</label>
        <input type="password" id="inputPassword" class="form-control" name="pass" placeholder="Salasõna" required>
        <p style="margin-top: 10px;"></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Logi Sisse</button>
    </form>
</div>