<div class="container" id="container2">
    <nav class="navbar navbar-default">
        <div class="container-fluid" id="navtext">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="picture" href="#" onclick="javascript:goToURL('main.php')"><img src="img/logo.png" alt="img/logo.png" style="width: 80px; height: 100px;"/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="javascript:goToURL('changeUsernamePage.php')" style="margin-top: 20px;"> Vaheta kasutajanime</a></li>
                    <li><a href="#" onclick="javascript:goToURL('index.php')" style="margin-top: 20px;"> Logi välja</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>