<div class="container" id="container1">
    <form class="form-signin" method="post" action="connectUser.php">
        <h2 class="form-signin-heading" id="registreeri">Registreeri ennast kasutajana</h2>

        <label for="inputEmail" class="sr-only">Kasutajanimi</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Kasutajanimi" required autofocus>
        <p style="margin-top: 10px;"></p>
        <label for="inputPassword" class="sr-only">Salasõna</label>
        <input type="password" id="inputPassword" class="form-control" name="pass1" placeholder="Salasõna" required>
        <p style="margin-top: 10px;"></p>
        <label for="inputPassword1" class="sr-only">Salasõna uuesti</label>
        <input type="password" id="inputPassword1" class="form-control" name="pass2" placeholder="Salasõna uuesti" required>
        <p style="margin-top: 10px;"></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registreeri</button>
    </form>
</div>